.carousel {
    height: 55%;
}

.flickity-viewport {
    height: 100% !important;
}

.carousel-cell {
    height: 100%;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;
}

.carousel-cell.portrait > img {
    width: auto;
    height: 100%;
}

.carousel-cell > img {
    width: 100%;
    height: 100%;
}

/* Flickity fullscreen v1.0.1
------------------------- */

.flickity-enabled.is-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.9);
    padding-bottom: 35px;
    z-index: 1;
  }
  
  .flickity-enabled.is-fullscreen .flickity-page-dots {
    bottom: 10px;
  }
  
  .flickity-enabled.is-fullscreen .flickity-page-dots .dot {
    background: white;
  }
  
  /* prevent page scrolling when flickity is fullscreen */
  html.is-flickity-fullscreen {
    overflow: hidden;
  }
  
  /* ---- flickity-fullscreen-button ---- */
  
  .flickity-fullscreen-button {
    display: block;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  
  /* right-to-left */
  .flickity-rtl .flickity-fullscreen-button {
    right: auto;
    left: 10px;
  }
  
  .flickity-fullscreen-button-exit { display: none; }
  
  .flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit { display: block; }
  .flickity-enabled.is-fullscreen .flickity-fullscreen-button-view { display: none; }
  
  .flickity-fullscreen-button .flickity-button-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
  }

  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }
  
/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}
  
  .flickity-enabled {
    position: relative;
  }
    
  .flickity-enabled:focus {
    outline: none;
  }
    
  .flickity-viewport {
    overflow: hidden;
    position: relative;
  }
    
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
    
    /* draggable */
    
    .flickity-enabled.is-draggable {
      -webkit-tap-highlight-color: transparent;
      /* tap-highlight-color: transparent; */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .flickity-enabled.is-draggable .flickity-viewport {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    
    .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }

      /* ---- flickity-fullscreen-button ---- */
  
  .flickity-fullscreen-button {
    display: block;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  
  /* right-to-left */
  .flickity-rtl .flickity-fullscreen-button {
    right: auto;
    left: 10px;
  }
  
  .flickity-fullscreen-button-exit { display: none; }
  
  .flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit { display: block; }
  .flickity-enabled.is-fullscreen .flickity-fullscreen-button-view { display: none; }
  
  .flickity-fullscreen-button .flickity-button-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
  }

  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }
    
    /* ---- flickity-button ---- */
    
    .flickity-button {
      position: absolute;
      background: rgba(50, 50, 50, 0.3);
      border: none;
      color: #333;
    }
    
    .flickity-button:hover {
      background: gray;
      cursor: pointer;
    }
    
    .flickity-button:focus {
      outline: none;
      box-shadow: 0 0 0 5px #19f;
    }
    
    .flickity-button:active {
      opacity: 0.6;
    }
    
    .flickity-button:disabled {
      opacity: 0.3;
      cursor: auto;
      /* prevent disabled button from capturing pointer up event. #716 */
      pointer-events: none;
    }
    
    .flickity-button-icon {
      fill: #fff;
    }
    
    /* ---- previous/next buttons ---- */
    
    .flickity-prev-next-button {
      bottom: 50%;
      width: 44px;
      height: 44px;
    }
    
    .flickity-prev-next-button.next {
      right: 0;
    }

    /* right to left */
    .flickity-rtl .flickity-prev-next-button.previous {
      left: auto;
      right: 10px;
    }
    .flickity-rtl .flickity-prev-next-button.next {
      right: auto;
      left: 10px;
    }
    
    .flickity-prev-next-button .flickity-button-icon {
      position: absolute;
      left: 20%;
      top: 20%;
      width: 60%;
      height: 60%;
    }
    
    /* ---- page dots ---- */
    
    .flickity-page-dots {
      display: none;
    }

    /* Flickity fullscreen v1.0.1
------------------------- */

.flickity-enabled.is-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.9);
    padding-bottom: 35px;
    z-index: 1;
  }
  
  .flickity-enabled.is-fullscreen .flickity-page-dots {
    bottom: 10px;
  }
  
  .flickity-enabled.is-fullscreen .flickity-page-dots .dot {
    background: white;
  }
  
  /* prevent page scrolling when flickity is fullscreen */
  html.is-flickity-fullscreen {
    overflow: hidden;
  }